body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    background-image: url(https://th.bing.com/th/id/R05ea973730c7798ba433e26fd77a6fc4?rik=RH0k%2f5Ta4zdVFg&pid=ImgRaw);
    background-size: cover;
    background-position: center;
}
aside{  
    height: 100vh;
    background-color: rgb(0, 0, 0);
    transition: width 3s;
}
li{
    list-style: none;
    padding-top: 15px;
    color: white;
    text-shadow: 0 0 10px black;
}
img{
    width: 40px;
    height: 40px;
    margin-left: -40px;
    cursor: pointer;
        background-color: #fffffff5;
        border-radius: 5px;
}
.fechando{
    width:0px;
}
.abrindo{
    width:200px;
}
h1, h2{
    margin-left: 30px;
    color: white;
    line-height: 28px;
    font-family: -webkit-pictograph;
    text-shadow: 0 0 10px black;
}
h1{
    text-transform: uppercase;
    text-align: center;
 
}
.titulo{
    display: flex;
    align-items: center;
}
